.row{
    margin-bottom: 20px;
    margin-left: 20px;
}
::-webkit-scrollbar{
    display: none;
}
.movie-row{
    display: flex;
    overflow-x: scroll;
}

.movie{
    width: 100%;
    height: 150px;
    margin-right: 15px;
    transition: 460ms;
}
.movie:hover{
    transform: scale(1.06);
}
.movie-poster{
    height: 250px;
}
